body, html{ margin: 0px; padding:0px; }

body{
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 color: #4f4f4f;
 }

#container{
  width: 1024px;
  height: 768px;
  position: absolute;
  background-color: #831475;
  background: url('../imgs/bg.jpg') no-repeat 0 0;
  overflow: hidden;
}

#timer{
  color: #fff;
  font-size: 48px;
  position: absolute;
  z-index: 1;
}

#clock {
    color: #fff;
    font-size: 48px;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 400px;
    height: 100px;
}

#intro{
  width: 100%;
  height: 768px;
  background-color: #ff0000;
  position: absolute;
  z-index: 99;
  font-size: 100px;
  color: #fff;
  padding-top: 160px;
  text-align: center;
/*  opacity: 0;
  display: none;*/
  cursor: pointer;
}

#playerlist{
   font-size: 30px;
   margin:20px;
   font-family: Arial;
   color: red;
}

#leaderlist{ margin: 20px; font-size: 20px;}

#playerNum, #playersNum, #playerReady{
   font-size: 30px;
   margin:20px;
   font-family: Arial;
   color: red;
}

.title{
   font-size: 30px;
    margin:20px;
   font-family: Arial;
   color: blue;
}



.txtMed{   font-size: 30px;}

#endframe{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  font-size: 150px;
  color: #fff;
  padding-top: 200px;
  text-align: center;
  opacity: 0;
}

#replay{
  display: none;
}

#tiles{
  position: absolute;
  top: 150px;
  left: 120px;
  z-index: 2;
}

#card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9, #card10, #card11, #card12 {
  width: 180px;
  height: 180px;
  border-radius: 15px;
  float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.cardFront{
     width: 180px;
    height: 180px;
    border-radius: 15px;

    background: rgb(96,22,114); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(96,22,114,1) 0%, rgba(125,185,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(96,22,114,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(96,22,114,1) 0%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(96,22,114,1) 0%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(96,22,114,1) 0%,rgba(125,185,232,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(96,22,114,1) 0%,rgba(125,185,232,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#601672', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.clear{clear: both; margin:0px;}